
body{
    background-color: 	#F0F0F0;
}
#topOfPage {
    margin: auto;
    background-color: darkgrey;
    text-align: center;
    max-width: 890px;
}

.container { 
    background-color: lightsteelblue;
    max-width: 900px;
    min-height: 1000px;
    margin:auto;
}

.center {
    text-align: center;
    margin: auto;

}
img {
    border-radius: 50%;
    border-style: solid;
    border-color: darkslategray;
    width: 200px;
  }

  a {
      font-size: 30px;
      color: #343a40;
      font-weight: bold;
      padding: 10px;
  }

  .lead {
      padding-top: 20px;
  }

  .card {
      width: 85%;
      float: left;
      min-height: 150px;
      text-align: center;
      margin: 10%
  }
