


body {
    margin: auto;
    background-color: lightgray;
}

h1 {
    text-align: center;
}
#sent {
    max-height: 200px;
}

#navLinks {
    max-width: 870px;
    margin: auto;
}

.container {
      max-width: 900px;  
}