


body {
    margin: auto;
    background-color: lightgray;
}
h1 {
    text-align: center;
}

#linkWidth {
    max-width: 900px;
    margin: auto;
}
#pQuestion{
    text-align: center;
}

.container {
max-width: 900px;
}   

#startButton {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
}

#mContent {
    padding-top: 20px;
    min-height: 500px;
}

.timer {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.vBreak {
    width: 90%;
    border-color: lightgray;

}

.score {
    text-align: end;
}
.nQuestion, h3 {
    margin: 1rem;
}

#formInitials {
    width: 20rem;
}
#idlabel{
    margin: .75rem;
    float: left;
}
#subBtn, #formInitials {
    margin: 1rem;
    float: left;

}

.answer, .subBtn {
    margin: 1rem;
}